<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/student?useSSL=false</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="hib.ManagerLogEntity"/>
    <mapping resource="ManagerLogEntity.hbm.xml"/>
    <mapping class="hib.StudentLogEntity"/>
    <mapping resource="StudentLogEntity.hbm.xml"/>
    <mapping resource="StudInfoEntity.hbm.xml"/>
    <mapping class="hib.StudInfoEntity"/>
    <mapping class="hib.StudSchoolEntity"/>
    <mapping class="hib.NoticeEntity"/>
    <mapping resource="NoticeEntity.hbm.xml"/>

    <!-- DB schema will be updated if needed -->
<!--    <property name="hibernate.hbm2ddl.auto">update</property>-->
  </session-factory>
</hibernate-configuration>
<!--<property name="connection.url">jdbc:mysql://localhost:3306/student?useSSL=false</property>-->
<!--<property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
<!--<property name="connection.username">root</property>-->
<!--<property name="connection.password">123456</property>-->